/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "OSP";
  src: url("../css/fonts/OSP-DIN-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OSP";
  src: url("../css/fonts/OSP-DIN-webfont.woff") format("woff"), url("../css/fonts/OSP-DIN-webfont.ttf") format("truetype"), url("../css/fonts/OSP-DIN-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../sass/screen.sass */
* {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

/* line 11, ../sass/screen.sass */
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.6em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #72645a;
}

/* line 19, ../sass/screen.sass */
h1, .h1 {
  font-size: 74px;
  line-height: 1em;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.98);
  text-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
}

/* line 27, ../sass/screen.sass */
h2, .h2 {
  font-size: 30px;
  line-height: 1em;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8f341c;
  -webkit-transition: color 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}

/* line 34, ../sass/screen.sass */
h3, .h3 {
  font-size: 30px;
  line-height: 1.618em;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #72645a;
}

/* line 40, ../sass/screen.sass */
p, ul, ol {
  margin-bottom: 15px;
}

/* line 43, ../sass/screen.sass */
header {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 120;
  width: 430px;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 50, ../sass/screen.sass */
header h1 {
  float: right;
  padding: 0 24px 10px 0;
}

@media screen and (max-width: 1385px) {
  /* line 55, ../sass/screen.sass */
  header {
    position: fixed;
    bottom: 85px;
    width: 430px;
  }
  /* line 59, ../sass/screen.sass */
  header h1 {
    font-size: 38px;
    padding: 0 15px 10px 0;
  }
}
/* line 63, ../sass/screen.sass */
nav {
  position: fixed;
  bottom: 0;
  left: 15px;
  z-index: 120;
  width: 450px;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../sass/screen.sass */
nav ul {
  float: left;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 73, ../sass/screen.sass */
nav ul li {
  float: left;
  display: block;
}
/* line 76, ../sass/screen.sass */
nav ul li a {
  color: #e79321;
  text-decoration: none;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 15px 15px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin-right: 15px;
  background: rgba(114, 100, 90, 0.9);
  color: rgba(246, 230, 200, 0.24);
  -webkit-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
  -moz-box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
}
/* line 91, ../sass/screen.sass */
nav ul li a:active, nav ul li a.active, nav ul li a:hover {
  background: #e79321;
  color: white;
}

@media screen and (max-width: 1385px) {
  /* line 97, ../sass/screen.sass */
  nav {
    width: 350px;
  }
  /* line 101, ../sass/screen.sass */
  nav ul li a {
    font-size: 18px;
  }
}
/* line 108, ../sass/screen.sass */
section#modal_container {
  width: 61%;
  max-width: 1500px;
  position: fixed;
  top: 24px;
  bottom: 98px;
  right: -75%;
  z-index: 200;
  background: #f6e6c8;
  opacity: 0.75;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
  -webkit-transition: right 0.24s ease-in-out, opacity 0.24s ease-in-out;
  -moz-transition: right 0.24s ease-in-out, opacity 0.24s ease-in-out;
  -o-transition: right 0.24s ease-in-out, opacity 0.24s ease-in-out;
  transition: right 0.24s ease-in-out, opacity 0.24s ease-in-out;
}
/* line 120, ../sass/screen.sass */
section#modal_container.active {
  right: 24px;
  opacity: 1;
}
/* line 124, ../sass/screen.sass */
section#modal_container article {
  width: 61%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#modal_container article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 132, ../sass/screen.sass */
section#modal_container article section.modal_header {
  width: 100%;
  height: 365px;
  overflow: hidden;
  position: relative;
}
/* line 137, ../sass/screen.sass */
section#modal_container article section.modal_header h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 4% 15px;
  width: 92%;
  line-height: 61px;
  z-index: 120;
  color: white;
}
/* line 147, ../sass/screen.sass */
section#modal_container article section.modal_header ul {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 120;
}
/* line 152, ../sass/screen.sass */
section#modal_container article section.modal_header ul li {
  float: left;
  margin-right: 5px;
}
/* line 155, ../sass/screen.sass */
section#modal_container article section.modal_header ul li:last-child {
  margin-right: 0;
}
/* line 157, ../sass/screen.sass */
section#modal_container article section.modal_header ul li a {
  height: 15px;
  width: 15px;
  display: block;
  background: rgba(255, 255, 255, 0.38);
  -webkit-transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  -moz-transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  -o-transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
}
/* line 163, ../sass/screen.sass */
section#modal_container article section.modal_header ul li a:focus {
  outline: none;
}
/* line 165, ../sass/screen.sass */
section#modal_container article section.modal_header ul li a.current, section#modal_container article section.modal_header ul li a:hover, section#modal_container article section.modal_header ul li a:active {
  outline: rgba(51, 51, 51, 0.61);
  background: rgba(255, 255, 255, 0.98);
}
/* line 168, ../sass/screen.sass */
section#modal_container article section.modal_header div.slides img {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1965px) {
  /* line 176, ../sass/screen.sass */
  section#modal_container article section.modal_header div.slides img {
    width: auto;
    height: 100%;
  }
}
/* line 180, ../sass/screen.sass */
section#modal_container article ul.venue {
  display: none;
}
/* line 187, ../sass/screen.sass */
section#modal_container article section.content {
  padding: 25px 4%;
  color: #72645a;
  width: 61%;
  float: left;
  font-size: 18px;
  line-height: 24px;
}
/* line 194, ../sass/screen.sass */
section#modal_container article section.content a {
  color: #0077bd;
}
/* line 196, ../sass/screen.sass */
section#modal_container article section.content a:hover {
  color: #709432;
}
@media screen and (max-width: 1965px) {
  /* line 200, ../sass/screen.sass */
  section#modal_container article section.content {
    width: 92%;
    float: none;
  }
}
/* line 208, ../sass/screen.sass */
section#modal_container article aside {
  width: 22.5%;
  padding: 20px 2.5%;
  background: rgba(255, 255, 255, 0.24);
  position: relative;
  border: none;
  float: left;
  margin-right: 2.5%;
  overflow: visible;
}
/* line 217, ../sass/screen.sass */
section#modal_container article aside h3 {
  line-height: 1em;
}
/* line 220, ../sass/screen.sass */
section#modal_container article aside img.favicon {
  width: 16px;
  margin-right: 10px;
}
/* line 223, ../sass/screen.sass */
section#modal_container article aside a {
  color: #0077bd;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: color 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}
/* line 228, ../sass/screen.sass */
section#modal_container article aside a:hover {
  color: #709432;
}
/* line 231, ../sass/screen.sass */
section#modal_container article aside form.add_photo {
  margin: 15px 0px;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#modal_container article aside form.add_photo:after {
  content: "";
  display: table;
  clear: both;
}
/* line 234, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset {
  width: auto;
}
/* line 236, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li {
  width: auto;
}
/* line 238, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li ul.errorlist {
  margin: 0;
}
/* line 240, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li ul.errorlist li {
  color: #e79321;
}
/* line 242, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li label {
  font-size: 24px;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
}
/* line 246, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li input[type="file"] {
  width: 180px;
  margin: 0 0 15px 0;
}
/* line 249, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li input[type="text"] {
  width: 90%;
  padding: 5px 8px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #72645a;
  margin-bottom: 15px;
}
/* line 257, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li input[type="text"]:focus {
  outline: none;
}
/* line 259, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li input[type="submit"] {
  padding: 3px 8px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  border: none;
  background: #0077bd;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
/* line 268, ../sass/screen.sass */
section#modal_container article aside form.add_photo fieldset ol li input[type="submit"]:hover {
  background: #709432;
}
@media screen and (max-width: 1965px) {
  /* line 272, ../sass/screen.sass */
  section#modal_container article aside {
    width: 92%;
    padding: 0px 4% 25px;
    background: transparent;
    border: none;
  }
  /* line 277, ../sass/screen.sass */
  section#modal_container article aside h3 {
    margin-top: 15px;
  }
}
/* line 284, ../sass/screen.sass */
section#modal_container section.tipheader {
  width: 36%;
  background: #3f4e4e;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 2px solid #323f3f;
  border-top: 2px solid #323f3f;
  overflow: scroll;
  padding: 20px 1.5%;
  z-index: 80;
  -webkit-box-shadow: 0 -3px 3px rgba(50, 63, 63, 0.38);
  -moz-box-shadow: 0 -3px 3px rgba(50, 63, 63, 0.38);
  box-shadow: 0 -3px 3px rgba(50, 63, 63, 0.38);
  *zoom: 1;
  overflow: visible;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#modal_container section.tipheader:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 298, ../sass/screen.sass */
section#modal_container section.tipheader h2 {
  color: white;
  font-size: 38px;
  text-transform: uppercase;
}
/* line 302, ../sass/screen.sass */
section#modal_container section.tipheader h3 {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* line 306, ../sass/screen.sass */
section#modal_container section.tipheader h3 a {
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.98);
  background: rgba(50, 63, 63, 0.98);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
}
/* line 316, ../sass/screen.sass */
section#modal_container section.tipheader h3 a:hover, section#modal_container section.tipheader h3 a:active, section#modal_container section.tipheader h3 a.active {
  background: white;
  color: #323f3f;
}
/* line 322, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment {
  position: absolute;
  bottom: 119px;
  background: #151c1c;
  padding: 15px 5%;
  width: 91.1%;
  margin-left: -4.2%;
  display: none;
  border-top: 2px solid black;
}
/* line 331, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment.active {
  display: block;
}
/* line 343, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment label {
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 5px;
  display: block;
  float: none;
}
/* line 350, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment input {
  width: 45%;
  display: block;
  border: none;
  font-size: 15px;
  padding: 10px 2.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #697375;
  color: white;
  margin-bottom: 24px;
}
/* line 360, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment input:focus {
  outline: none;
}
/* line 362, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment ul.errorlist {
  margin: 0;
}
/* line 364, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment ul.errorlist li {
  color: #e79321;
}
/* line 366, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment textarea {
  width: 95%;
  display: block;
  border: none;
  resize: none;
  min-height: 61px;
  font-size: 15px;
  padding: 10px 2.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #697375;
  color: white;
}
/* line 377, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment textarea:focus {
  outline: none;
}
/* line 379, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment input[type="submit"] {
  border: none;
  background: #697375;
  color: white;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 8px 15px;
  margin-top: 24px;
  cursor: pointer;
  width: auto;
  display: block;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
}
/* line 392, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment input[type="submit"]:hover, section#modal_container section.tipheader form.add_comment input[type="submit"]:active {
  background: white;
  color: #151c1c;
}
/* line 395, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment p {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 399, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment p.success-message {
  position: relative;
  top: auto;
  right: auto;
  color: #e79321;
}
/* line 404, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment p a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}
/* line 412, ../sass/screen.sass */
section#modal_container section.tipheader form.add_comment p a:hover {
  color: #e79321;
}
/* line 420, ../sass/screen.sass */
section#modal_container section.tipheader ul {
  margin: 15px 0 0 0;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#modal_container section.tipheader ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 423, ../sass/screen.sass */
section#modal_container section.tipheader ul li {
  float: left;
  margin-right: 15px;
}
/* line 426, ../sass/screen.sass */
section#modal_container section.tipheader ul li:last-child {
  margin: 0;
}
/* line 428, ../sass/screen.sass */
section#modal_container section.tipheader ul li a {
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.98);
  background: rgba(51, 51, 51, 0.38);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
  transition: color 0.24s ease-in-out, background 0.24s ease-in-out;
}
/* line 438, ../sass/screen.sass */
section#modal_container section.tipheader ul li a:hover, section#modal_container section.tipheader ul li a:active, section#modal_container section.tipheader ul li a.active {
  background: white;
  color: #333333;
}
/* line 446, ../sass/screen.sass */
section#modal_container aside.comments {
  width: 39%;
  background: #3f4e4e;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 2px solid #323f3f;
  overflow-y: scroll;
}
/* line 455, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments {
  width: 100%;
  padding: 15px 0 110px;
}
/* line 458, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li {
  background: #697375;
  width: 87%;
  padding: 20px 4%;
  margin: 0 auto 15px;
  position: relative;
  -webkit-transition: background 0.24s ease-in-out;
  -moz-transition: background 0.24s ease-in-out;
  -o-transition: background 0.24s ease-in-out;
  transition: background 0.24s ease-in-out;
  color: #323f3f;
}
/* line 468, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li.empty {
  background: transparent;
  font-size: 38px;
  color: #697375;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 473, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li h3 {
  color: white;
  font-size: 30px;
  position: relative;
  line-height: 1em;
  width: 75%;
}
/* line 479, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li h4 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}
/* line 489, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li aside.like {
  position: absolute;
  top: 24px;
  right: 15px;
  background: none;
  border: none;
  width: auto;
  overflow: visible;
}
/* line 497, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li aside.like a {
  background: #004d78;
  color: white;
  padding: 8px 15px;
  height: 24px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  -moz-transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  -o-transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  transition: box-shadow 0.24s ease-in-out, background 0.24s ease-in-out;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}
/* line 508, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li aside.like a:hover {
  -webkit-box-shadow: 0px 0px 3px 0 #323f3f;
  -moz-box-shadow: 0px 0px 3px 0 #323f3f;
  box-shadow: 0px 0px 3px 0 #323f3f;
}
/* line 510, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li aside.like a.liked {
  background: #709432;
}
/* line 512, ../sass/screen.sass */
section#modal_container aside.comments ul.user_comments li p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}
/* line 517, ../sass/screen.sass */
section#modal_container.volunteer-opportunity {
  width: 35%;
}
/* line 519, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article {
  width: 100%;
}
/* line 521, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article section.modal_header {
  height: 114px;
}
/* line 523, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article section.modal_header h2 {
  color: #0077bd;
  text-shadow: none;
}
/* line 526, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article section.slides-container {
  display: none;
}
/* line 528, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article div.slides {
  display: none;
}
/* line 530, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article ul.venue {
  padding: 25px 4% 0px;
  margin-bottom: 0;
  color: #72645a;
  width: 90%;
  float: left;
  font-size: 18px;
  display: block;
}
/* line 538, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article section.content {
  width: 90%;
}
/* line 540, ../sass/screen.sass */
section#modal_container.volunteer-opportunity article aside.content-sidebar {
  display: none;
}
/* line 542, ../sass/screen.sass */
section#modal_container.volunteer-opportunity section.tipheader {
  display: none;
}
/* line 544, ../sass/screen.sass */
section#modal_container.volunteer-opportunity aside.comments {
  display: none;
}
@media screen and (max-width: 1965px) {
  /* line 552, ../sass/screen.sass */
  section#modal_container aside ul.user_comments li aside.like {
    top: 10px;
  }
}
/* line 559, ../sass/screen.sass */
section#modal_container p.modal_close {
  position: absolute;
  bottom: -59px;
  left: 0;
}
/* line 563, ../sass/screen.sass */
section#modal_container p.modal_close a {
  padding: 15px;
  background: #0077bd;
  color: white;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
  border-top: 2px solid #055f94;
  -webkit-transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
  -moz-transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
  -o-transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
  transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
}
/* line 572, ../sass/screen.sass */
section#modal_container p.modal_close a:hover, section#modal_container p.modal_close a:active {
  background: #709432;
  border-top: 2px solid #5c8514;
}

@media screen and (max-width: 1385px) {
  /* line 578, ../sass/screen.sass */
  section#modal_container {
    width: 95.6%;
    top: 24px;
    right: -125%;
  }
  /* line 582, ../sass/screen.sass */
  section#modal_container.active {
    right: 2.2%;
  }
  /* line 586, ../sass/screen.sass */
  section#modal_container article section.modal_header div.slides img {
    min-width: 100%;
    height: auto;
  }
}
/* line 593, ../sass/screen.sass */
aside.listcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
/* line 599, ../sass/screen.sass */
aside.listcontainer ul {
  padding: 38px 0 98px 61px;
  width: 300px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.24)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.24), transparent);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.24), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.24), transparent);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.24), transparent);
}
/* line 603, ../sass/screen.sass */
aside.listcontainer ul li {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
/* line 609, ../sass/screen.sass */
aside.listcontainer ul li:last-child {
  border: none;
  margin-bottom: 0;
}
/* line 612, ../sass/screen.sass */
aside.listcontainer ul li h2 {
  background: #f6e6c8;
  padding: 10px 15px;
  width: 270px;
  display: inline-block;
  position: absolute;
  bottom: 24px;
  z-index: 100;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  -webkit-transition: background 0.24s ease-in-out, box-shadow 0.24s ease-in-out, color 0.24s ease-in-out;
  -moz-transition: background 0.24s ease-in-out, box-shadow 0.24s ease-in-out, color 0.24s ease-in-out;
  -o-transition: background 0.24s ease-in-out, box-shadow 0.24s ease-in-out, color 0.24s ease-in-out;
  transition: background 0.24s ease-in-out, box-shadow 0.24s ease-in-out, color 0.24s ease-in-out;
}
/* line 623, ../sass/screen.sass */
aside.listcontainer ul li img {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 80;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 4px #f6e6c8, 0 0 15px rgba(51, 51, 51, 0.8);
  -moz-box-shadow: 0 0 0 4px #f6e6c8, 0 0 15px rgba(51, 51, 51, 0.8);
  box-shadow: 0 0 0 4px #f6e6c8, 0 0 15px rgba(51, 51, 51, 0.8);
  -webkit-transition: box-shadow 0.24s ease-in-out;
  -moz-transition: box-shadow 0.24s ease-in-out;
  -o-transition: box-shadow 0.24s ease-in-out;
  transition: box-shadow 0.24s ease-in-out;
}
/* line 631, ../sass/screen.sass */
aside.listcontainer ul li aside {
  position: absolute;
  bottom: 121px;
  right: 50px;
  height: 61px;
  width: auto;
  line-height: 30px;
  padding: 5px 15px 5px 61px;
  background: #f6e6c8;
  z-index: 50;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  *zoom: 1;
  -webkit-transition: right 0.24s ease-in-out, box-shadow 0.24s ease-in-out;
  -moz-transition: right 0.24s ease-in-out, box-shadow 0.24s ease-in-out;
  -o-transition: right 0.24s ease-in-out, box-shadow 0.24s ease-in-out;
  transition: right 0.24s ease-in-out, box-shadow 0.24s ease-in-out;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
aside.listcontainer ul li aside:after {
  content: "";
  display: table;
  clear: both;
}
/* line 644, ../sass/screen.sass */
aside.listcontainer ul li aside p {
  text-align: center;
  color: #72645a;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}
/* line 650, ../sass/screen.sass */
aside.listcontainer ul li aside p span {
  min-width: 24px;
  text-align: right;
  display: inline-block;
}
/* line 654, ../sass/screen.sass */
aside.listcontainer ul li aside p a {
  background: #0077bd;
  display: block;
  width: 100%;
  padding: 3px 16px 3px 18px;
  margin-left: -21px;
  color: white;
  text-decoration: none;
  border: 1px solid #0077bd;
  border-top: 2px solid #055f94;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
  -webkit-transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
  -moz-transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
  -o-transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
  transition: background 0.24s ease-in-out, border 0.24s ease-in-out;
}
/* line 666, ../sass/screen.sass */
aside.listcontainer ul li aside p a:hover {
  background: #709432;
  border: 1px solid #709432;
  border-top: 2px solid #5c8514;
}
/* line 671, ../sass/screen.sass */
aside.listcontainer ul li:hover, aside.listcontainer ul li:active {
  cursor: pointer;
}
/* line 673, ../sass/screen.sass */
aside.listcontainer ul li:hover h2, aside.listcontainer ul li:active h2 {
  background: #8f341c;
  color: #e79321;
}
/* line 676, ../sass/screen.sass */
aside.listcontainer ul li:hover img, aside.listcontainer ul li:active img {
  -webkit-box-shadow: 0 0 0 4px #8f341c, 0 0 15px rgba(51, 51, 51, 0.8);
  -moz-box-shadow: 0 0 0 4px #8f341c, 0 0 15px rgba(51, 51, 51, 0.8);
  box-shadow: 0 0 0 4px #8f341c, 0 0 15px rgba(51, 51, 51, 0.8);
}
/* line 679, ../sass/screen.sass */
aside.listcontainer ul li.active h2 {
  background: #8f341c;
  color: #e79321;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
/* line 683, ../sass/screen.sass */
aside.listcontainer ul li.active img {
  -webkit-box-shadow: 0 0 0 4px #8f341c, 0 0 15px rgba(51, 51, 51, 0.8);
  -moz-box-shadow: 0 0 0 4px #8f341c, 0 0 15px rgba(51, 51, 51, 0.8);
  box-shadow: 0 0 0 4px #8f341c, 0 0 15px rgba(51, 51, 51, 0.8);
}
/* line 685, ../sass/screen.sass */
aside.listcontainer ul li.active aside {
  right: -140px;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
}
/* line 691, ../sass/screen.sass */
aside.listcontainer ul#volunteerlist li h2 {
  position: relative;
  bottom: auto;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 696, ../sass/screen.sass */
aside.listcontainer ul#volunteerlist li aside {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  position: relative;
  right: auto;
  bottom: auto;
  height: auto;
  background: #ae9f7c;
  padding: 8px 0;
}
/* line 706, ../sass/screen.sass */
aside.listcontainer ul#volunteerlist li aside p {
  width: 100%;
  color: #72645a;
}
/* line 709, ../sass/screen.sass */
aside.listcontainer ul#volunteerlist li aside p a {
  margin-left: 15px;
  padding: 0;
  display: inline-block;
  background: none;
  border: none;
  width: auto;
  color: #72645a;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 718, ../sass/screen.sass */
aside.listcontainer ul#volunteerlist li aside p a:hover {
  color: #0077bd;
}

@media screen and (max-width: 1385px) {
  /* line 725, ../sass/screen.sass */
  aside.listcontainer ul#locationlist {
    width: 240px;
  }
  /* line 727, ../sass/screen.sass */
  aside.listcontainer ul#locationlist li {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
  }
  /* line 733, ../sass/screen.sass */
  aside.listcontainer ul#locationlist li:last-child {
    border: none;
    margin-bottom: 0;
  }
  /* line 736, ../sass/screen.sass */
  aside.listcontainer ul#locationlist li h2 {
    width: 240px;
    left: -15px;
    bottom: 0px;
    font-size: 24px;
  }
  /* line 741, ../sass/screen.sass */
  aside.listcontainer ul#locationlist li img {
    width: 240px;
    height: 240px;
  }
  /* line 744, ../sass/screen.sass */
  aside.listcontainer ul#locationlist li aside {
    position: absolute;
    bottom: 91px;
    right: 24px;
    width: 120px;
  }
}
/* line 754, ../sass/screen.sass */
section#map {
  position: fixed;
  top: 0;
  bottom: -1px;
  width: 100%;
}
/* line 759, ../sass/screen.sass */
section#map p#reload {
  position: fixed;
  bottom: 0;
  right: 580px;
  z-index: 120;
}
/* line 764, ../sass/screen.sass */
section#map p#reload a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 60px;
  height: 60px;
  line-height: 54px;
  background: url(images/reload.png) no-repeat 0 0 #e79321;
  color: white;
  font-size: 38px;
  border: none;
  border-radius: 100%;
  float: left;
  margin-left: 15px;
  font-weight: bold;
  text-indent: -9999px;
  -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
  -moz-box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
}
/* line 779, ../sass/screen.sass */
section#map p#reload a:hover {
  background: url(images/reload.png) no-repeat 0 -60px #8f341c;
  color: #e79321;
}
/* line 782, ../sass/screen.sass */
section#map .leaflet-control {
  margin-bottom: 0;
}
/* line 784, ../sass/screen.sass */
section#map .leaflet-bottom, section#map .leaflet-right {
  right: 424px;
  bottom: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
/* line 789, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-bar, section#map .leaflet-right .leaflet-bar {
  border: none;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#map .leaflet-bottom .leaflet-bar:after, section#map .leaflet-right .leaflet-bar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 792, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-bar a, section#map .leaflet-right .leaflet-bar a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 60px;
  height: 60px;
  line-height: 54px;
  color: white;
  font-size: 38px;
  border: none;
  border-radius: 100%;
  float: left;
  margin-left: 15px;
  font-weight: bold;
  text-indent: -9999px;
  -webkit-box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
  -moz-box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.38);
}
/* line 806, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-bar a.leaflet-control-zoom-in, section#map .leaflet-right .leaflet-bar a.leaflet-control-zoom-in {
  background: url(images/zoomin.png) no-repeat 0 0 #e79321;
}
/* line 808, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-bar a.leaflet-control-zoom-in:hover, section#map .leaflet-right .leaflet-bar a.leaflet-control-zoom-in:hover {
  background: url(images/zoomin.png) no-repeat 0 -60px #8f341c;
}
/* line 810, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-bar a.leaflet-control-zoom-out, section#map .leaflet-right .leaflet-bar a.leaflet-control-zoom-out {
  background: url(images/zoomout.png) no-repeat 0 0 #e79321;
}
/* line 812, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-bar a.leaflet-control-zoom-out:hover, section#map .leaflet-right .leaflet-bar a.leaflet-control-zoom-out:hover {
  background: url(images/zoomout.png) no-repeat 0 -60px #8f341c;
}
/* line 815, ../sass/screen.sass */
section#map .leaflet-bottom .leaflet-control-attribution, section#map .leaflet-right .leaflet-control-attribution {
  display: none;
}

@media screen and (max-width: 1385px) {
  /* line 820, ../sass/screen.sass */
  section#map p#reload {
    right: 158px;
  }
  /* line 822, ../sass/screen.sass */
  section#map .leaflet-bottom, section#map .leaflet-right {
    right: 0;
  }
}
/* line 828, ../sass/screen.sass */
div.leaflet-popup {
  *zoom: 1;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div.leaflet-popup:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 833, ../sass/screen.sass */
div.leaflet-popup a.leaflet-popup-close-button {
  background: url(images/close_popup.png) #f6e6c8 no-repeat 0 0;
  text-indent: -9999px;
  height: 20px;
  width: 20px;
  display: block;
  padding: 0;
  border: 4px solid #f6e6c8;
}
/* line 841, ../sass/screen.sass */
div.leaflet-popup a.leaflet-popup-close-button:hover {
  background-position: 0 -20px;
}
/* line 843, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper {
  padding-top: 0;
  background: #f6e6c8;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.8);
  -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.8);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.8);
}
/* line 850, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content {
  margin: 0;
  width: 100%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 856, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup {
  width: 100%;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup:after {
  content: "";
  display: table;
  clear: both;
}
/* line 859, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup img {
  margin: 2px 1px;
}
/* line 861, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup img.oneup {
  width: 319px;
}
/* line 863, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup div.name {
  font-size: 30px;
  line-height: 1em;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8f341c;
  text-align: center;
  padding: 0;
}
/* line 870, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup p {
  font-size: 15px;
  color: #72645a;
  text-align: center;
  margin: 0 0 15px;
}
/* line 875, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-content-wrapper div.leaflet-popup-content div.map-popup p span.venue {
  display: block;
  font-family: OSP, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding-top: 8px;
}
/* line 881, ../sass/screen.sass */
div.leaflet-popup div.leaflet-popup-tip {
  background: #f6e6c8;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.8);
  -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.8);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.8);
}
